@import "../header/header.css";
@import "../footer/footer.css";


:root {
    --gray-1: #d1d1d1;
    --gray-2: #f1f2f4;
    --font-weight-black: bolder;
    --color-purpule: #5f0f4e;
    --color-white: white;
    --color-black: black;

    --font-family-base: "Gotham SSm", "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-size-base: 14px;
    --font-size-base-1: 18px;
    --font-size-1: 22px;
    --font-size-2: 28px;
    --font-size-3: 34px;
    --font-weight-1: 700;
    --font-weight-2: 800;

    --font-size-large: 24px;
    --font-size-medium: 13px;
    --font-weight-large: 700;

    --letter-spacing-1: 2px;

    --font-family-base-1: "Gotham SSm", Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
}



body {
    background-color: var(--gray-2);
}

.app-body {
    /* background-color: gray; */
    position: relative;
    margin-top: 20px;
    width: 100%;


    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}


.table-container {
    overflow-x: auto;
}


table {
    border-bottom: 1px solid black;
    border-radius: 10px;
}

table * {
    padding: 10px;
}

table th {
    background-color: green;
}










/* .login-contianer {
    background-color: purple;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
} */

.auth-card {
    width: 99%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.auth-cart-title {
    /* background-color: var(--color-purpule); */
    color: var(--color-black);
    padding: 10px;
    border-radius: 2px;
    text-align: center;
    
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-2);

}


.error-text {
    color: red;
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-1);
    padding-left: 10px;
}

.success-text {
    color: #37a000;
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-1);
    padding-left: 10px;
}

.disabled {
    background-color: gray;
    pointer-events: none;
}



form {
    background-color: white;
    border: 1px solid var(--gray-1);

    width: calc(var(--app-maximum-width) / 2);

    border-radius: 4px;

}


.form-content-container {
    /* background-color: orange; */
    /* height: 100px; */

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

/* fieldset {
    background-color: orange;
    width: 100%;
    margin: 0 30px;
    padding: 0 20px;
}
*/
.form-content-container .percentage {
    position: relative;
    /* background-color: orange; */
}

.form-content-container .percentage :last-child {
    padding: 10px 3px;
    /* background-color: green; */
    color: gray;
    position: absolute;
    top: 0;
    right: 0;
} 


.form-content {
    /* background-color: green; */
    width: 80%;
    margin: 5px 0;

    display: flex;
    align-items: center;
    justify-content: left;
    
}



form input {
    width: 100%;
    padding: 10px 20px;
    
    border: 1px solid var(--gray-1);
    border-radius: 6px;
}

form select {
    width: 100%;
    padding: 10px 20px;
    
    border: 1px solid var(--gray-1);
    border-radius: 6px;
}


form input[type="submit"] {
    border: none;
    color: var(--color-white);
    background-color: var(--color-purpule);
    cursor: pointer;

    font-weight: var(--font-weight-1);
    font-size: var(--font-size-base-1);

    margin-bottom: 50px;
    padding: 8px 0;


}

form input[type="submit"]:hover {
   
}

/* form input {
    display: block;
    padding: 10px;
    width: 80%;

    

    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 10px;


    border: 1px solid var(--gray-1);
    border-radius: 2px;

}

form input[type="submit"] {
    background-color: orange;
    cursor: pointer;
}

form input[type="submit"]:hover {
   
} */

form input:focus {
    outline-width: 0;
}

.auth-error {
    color: red;
    text-align: center;
}


@media only screen and (max-width: 500px) {
    body {
        background-color: var(--color-white);
    }
    form {
        width: inherit;
        border: none;
    }

    .form-content {
        width: 95%;
    }
}



.footer-container-wrapper {
    /* background-color: green; */
}



.no-display {
    display: none;
}