@import "../header/header.css";
@import "../footer/footer.css";
@import "../util/uniDetails.css";

:root {
    --gray-1: #d1d1d1;
    --gray-2: #f1f2f4;
    --font-weight-black: bolder;
    --color-purpule: #5f0f4e;
    --color-white: white;
    --color-black: black;
    --font-size-base: 14px;
    --font-size-base-1: 18px;
    --font-size-1: 22px;
    --font-size-2: 28px;
    --font-size-3: 34px;
    --font-weight-1: 700;
    --font-weight-2: 800;
    --font-size-large: 24px;
    --font-size-medium: 13px;
    --font-weight-large: 700;
    --letter-spacing-1: 2px;
}

body {
    background-color: var(--gray-2);

}

.app-body {
    position: relative;
    margin-top: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}


/*--------------------app body container--------------------------*/

.app-body-container {
    /* background-color: orange; */
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    width: calc(var(--app-maximum-width) + 300px);


}

.find-uni-title {
    width: 25%;
}

.app-body-container > * {
    /* background-color: orangered; */
}

/* .app-body-container > :first-child {
    width: 25%;
} */


.container-uni-top {
    /* background-color: orange; */
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: nowrap;
    padding: 20px 30px;
}

.container-uni-top > * {
    margin: 5px 0px;
}

.container-uni-top .search-bar {
    width: 70%;
}

.search-bar-select {
    /* background-color: orange; */
    position: relative;
    
}


/*--------------------search filters css-------------------*/
.container-search-filters {
    /* background-color: orange; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    
}

.container-search-filters .search-filter-item {
    background-color: rgb(223, 223, 223);
    margin: 4px;
    padding: 10px;
    padding-left: 10px;
    padding-right: 25px;
    cursor: pointer;
    border-radius: 6px;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 150px;

    position: relative;

}

.search-filter-item i {
    /* background-color: red; */
    position: absolute;
    padding: 10px;
    top: 6px;
    right: 0;
}

.container-search-filters .search-filter-item:hover {
    background-color: rgb(180, 180, 180);
}

/*---------------------------------------------------------*/


/*-------------select option----------*/
.form-content {
    width: 100%;
    margin: 5px 0;
    display: flex;
    align-items: center;
    justify-content: left;
}

.form-content select {
    width: 100%;
    padding: 10px 20px;
    border: 1px solid var(--gray-1);
    border-radius: 6px;
}

.form-content input {
    width: 100%;
    padding: 10px 20px;
    border: 1px solid var(--gray-1);
    border-radius: 6px;
}

.percentage {
    position: relative;
}

.percentage :last-child {
    padding: 10px 3px;
    color: gray;
    position: absolute;
    top: 0;
    right: 2px;
} 
/*------------------------------------*/

.search-bar-select input {
    width: 100%;
    padding: 8px 40px;
    text-decoration: none;
    border: 1px solid lightgray;
    border-radius: 4px;
}

.search-bar-select i {
    position: absolute;
    /* background-color: #37a000; */
    color: gray;
    padding: 9px 10px;
    left: 0;
    top: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}


.btn-save-search {
    /* background-color: orchid; */
    position: relative;
    margin-left: 20px;
    width: 30%;
}

.btn-filter-search {
    display: none;
    cursor: pointer;
}

.btn-save-search input {
    width: 100%;
    font-weight: bold;
}

.btn-save-search > i {
    /* background-color: orangered; */
    color: #37a000;
    position: absolute;
    left: 0;
    top: 0;
    padding: 13px;
} 


.search-bar {
    position: relative;
    width: 50%;
}

.search-bar > input {
    width: 100%;
    padding: 8px 20px;
    text-decoration: none;
    border: 1px solid lightgray;
    border-radius: 4px;
}

.search-bar > i {
    position: absolute;
    background-color: #37a000;
    color: white;
    padding: 9px 10px;
    right: 0;
    top: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;

}

#advanced-search {
    background-color: inherit;
    border: none;
}

.view {
    display: none;
}


.select-resp {
    position: relative;
    background-color: white;
    width: 100%;
    padding: 12px 20px;
    border: 1px solid var(--gray-1);
    border-radius: 6px;
    font-size: large;
    margin: 10px;
    cursor: pointer;
}

.select-resp i {
    /* background-color: orange; */
    color: gray;
    position: absolute;
    padding: 8px 20px;
    top: 0;
    right: 0;
}

.container-opts {
    background-color:#f1f2f4;
    position: fixed;
    top: 100vh;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;

    transition: .2s all;

    display: none;

}

.container-opts > .container-opts-top {
    position: relative;
    cursor: pointer;
}

.container-opts .close-symbol  {
    position: absolute;
    top: 0;
    right: 0;
    padding: 4px 20px;
    font-size: x-large;
    font-weight: bold;
    color: gray; 
    
}


.container-opts .selected {
    background-color: white;
    padding: 10px 20px;
    font-weight: bold;
    border-bottom: 1px solid #d1d1d1;
    
}

.container-opts > .saved-searches-title {
    padding: 10px 20px;
    font-weight: bold;
    font-size: large;
}

.container-opts > .container-saved-searches {
    background-color: white;
    height: 100%;
    font-size: large;
}

.container-opts > .container-saved-searches * {
    /* background-color: green; */
    padding: 10px 20px;
    font-size: normal;
}

.container-opts > .container-saved-searches *:hover {
    background-color: #f1f2f4;
    cursor: pointer;
}


#searches-recommended-resp {
    display: none;
}

.separator {
    width: 25%;
}

.Universities-container {
    width: 50%;
}

.side-bar {
    width: 30%;
    /* background-color: orange; */
    transition: all .3s;
}

.side-bar > * {
    /* background-color: orangered; */
    padding: 10px 20px;
    font-weight: 500;
    margin-left: 20px;
    cursor: pointer;

}

.side-bar > *:hover {
    /* background-color: white; */
}


.container-close {
    /* background-color: red; */
    position: relative;
    padding: 20px;
    display: none;
}

.container-close > i {
    /* background-color: green; */
    position: absolute;
    padding: 10px;
    top: 2px;
    right: 2px;
    cursor: pointer;
}

.saved-search-item-selected {
    border-left: 4px solid #37a000;
    padding-left: 16px;
    font-weight: bold;
}


.Universities-container {
    /* background-color: green; */
    width: 65%;
    background-color: white;
    border: 1px solid #d1d1d1;
    border-radius: 4px;
}

.Universities-container > .title {
    /* background-color: orange; */
    padding: 15px 30px;
    border-bottom: 1px solid #d1d1d1;


}

.search-link:hover {
    cursor: pointer;
    color:  #48a000;
    text-decoration: underline;
    -webkit-line-clamp: 1;
}

.Universities-container > .university-container {
    /* background-color: orange; */
    padding: 0 30px;
    border-bottom: 1px solid #d1d1d1;
}

.Universities-container > .university-container h5:hover {
    cursor: pointer;
    color:  #48a000;
    text-decoration: underline;
    -webkit-line-clamp: 1;
}

.Universities-container > .university-container > * {
    /* background-color: orangered; */
    padding-top: 15px;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    line-height: 20px;
    /* word-break: break-all; */
}


.container-busy > * {
    background-color: lightgray;
    /* margin-bottom: 20px; */
    margin: 20px 30px;
    padding-bottom: 20px;
    width: 0%;
}

.container-busy > :nth-child(1) {
    /* width: 100%; */
    width: 0%;
    animation: busy_motion_1;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.container-busy > :nth-child(2) {
    /* width: 70%; */
    width: 0%;
    animation: busy_motion_2;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: 0.2s;
}

.container-busy > :nth-child(3) {
    /* width: 40%; */
    width: 0%;
    animation: busy_motion_3;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: 0.4s;
}


@keyframes busy_motion_1 {
    0%   {width: 0%;}
    50%   {width: 90%;}
    100% {width: 0%;}
}

@keyframes busy_motion_2 {
    0%   {width: 0%;}
    50%   {width: 70%;}
    100% {width: 0%;}
}

@keyframes busy_motion_3 {
    0%   {width: 0%;}
    50%   {width: 40%;}
    100% {width: 0%;}
}


.busy-bundle > *:not(:last-child) {
    border-bottom: 1px solid #d1d1d1;
    margin: 15px 0px;
}





@media only screen and (max-width: 1100px) {

    .app-body {
        margin-top: 0px;
    }

    .side-bar {
        /* display: none; */
        position: fixed;
        z-index: 1000;
        background-color:#f1f2f4;
        width: 100%;
        height: 100vh;
        top: 100%;
        left: 0;
        
    }

    #advanced-search {
        display: none;
    }

    .find-uni-title {
        display: none;
    }

    .view {
        display: block;
        width: 100%;
        text-align: left;
        padding: 0px 10px;
        font-size: large;
        font-weight: bold;
    }

    #searches-recommended-resp {
        display: block;
    }

    .Universities-container {
        width: 100%;
        border: none;
        border-radius: 0;
        border-top: 1px solid #d1d1d1;
        border-bottom: 1px solid #d1d1d1;
    }

    .container-opts {
        display: block;
    }

    .container-uni-top {
        flex-wrap: wrap;
    }

    .container-uni-top .search-bar {
        width: 100%;
    }

    .btn-save-search {
        margin: 5px 0px;
    }

    .btn-filter-search {
        display: block;
    }

    .container-close {
        display: block;
    }

}

/*---------------------------------------------------------------*/



/*----------university details container*/
.container-uni-details {
    position: absolute;
    left: 100%;
    z-index: 1000;
    transition: all 1s;
}
/*--------------------------------------*/










/*-------------------------------Accordians css--------------------------*/

.accordion {
    position: relative;
  /* background-color: #eee;
  color: #444; */
  background-color: inherit;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  background-color: lightgray;
}

.accordion i {
    position: absolute;
    color: #37a000;
    right: 2px;
    top: 4px;
    padding: 10px;
    /* background-color: orange; */
}

.active, .accordion:hover {
  background-color: #ccc; 
}

.panel {
  padding: 0 10px;
  display: block;
  background-color:inherit;
  overflow: hidden;
  /* background-color: orangered; */
}

.panel .search-bar {
    /* background-color: green; */
    position: relative;
}

.panel .search-bar > input {
    /* background-color: orange; */
    width: 100%;
    padding: 8px 20px;
    text-decoration: none;
    border: 1px solid lightgray;
    border-radius: 4px;
    text-indent: 20px;
}

.panel .search-bar > i {
    position: absolute;
    /* background-color: #37a000; */
    color: #656565;
    padding: 9px 10px;
    left: 0;
    top: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}




/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #37a000;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #2f8600;
  color: black;
}

/* Create an active/current tablink class */
.tab button.active {
  /* background-color: #37a000; */
  color: white;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}


.accordian-program {
  padding: 0;
  border: 1px solid lightgray;
  margin: 4px 0px;
  border-radius: 10px;
}

.accordian-program-item {
  /* background-color: orange; */
  background-color: white;
  padding: 18px 10px;
  border-radius: 10px;
}


@media only screen and (max-width: 500px) {
  .panel {
    padding: 0;
  }
}




/*---------------------------------------------------------------*/




/*------------------------table css----------------------*/

.table-container {
  overflow-x: auto;
}



.user-name-heading {
  border-top-left-radius: 10px;
}

.user-program-heading {
  border-top-right-radius: 10px;
}

table {
  border-bottom: 4px solid #37a000;
  border-radius: 10px;
  text-align: center;
}

table * {
  padding: 10px;
  border-bottom: 1px solid lightgray;
}

table th {
  background-color: #37a000;
}

table td {
  background-color: white;
  width: 200px;
}

.tablel-vertical > table {
  border: 1px solid lightgray;
}
/*----------------------------------------------------------*/






