@import "../header/header.css";
@import "../footer/footer.css";

:root {
    --gray-1: #d1d1d1;
    --gray-2: #f1f2f4;
    --font-weight-black: bolder;
    --color-purpule: #5f0f4e;
    --color-white: white;
    --color-black: black;
    --font-size-base: 14px;
    --font-size-base-1: 18px;
    --font-size-1: 22px;
    --font-size-2: 28px;
    --font-size-3: 34px;
    --font-weight-1: 700;
    --font-weight-2: 800;
    --font-size-large: 24px;
    --font-size-medium: 13px;
    --font-weight-large: 700;
    --letter-spacing-1: 2px;
}

body {
    background-color: var(--gray-2);

}

.app-body {
    position: relative;
    margin-top: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}


/*--------------------app body container--------------------------*/

.app-body-container {
    /* background-color: orange; */
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;


}

.find-uni-title {
    width: 25%;
}

.app-body-container > * {
    /* background-color: orangered; */
}

/* .app-body-container > :first-child {
    width: 25%;
} */

.search-bar {
    position: relative;
    width: 50%;
}

.search-bar > input {
    width: 100%;
    padding: 8px 20px;
    text-decoration: none;
    border: 1px solid lightgray;
    border-radius: 4px;
}

.search-bar > i {
    position: absolute;
    background-color: #37a000;
    color: white;
    padding: 9px 10px;
    right: 0;
    top: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;

}

#advanced-search {
    background-color: inherit;
    border: none;
}

.view {
    display: none;
}


.select-resp {
    position: relative;
    background-color: white;
    width: 100%;
    padding: 12px 20px;
    border: 1px solid var(--gray-1);
    border-radius: 6px;
    font-size: large;
    margin: 10px;
    cursor: pointer;
}

.select-resp i {
    /* background-color: orange; */
    color: gray;
    position: absolute;
    padding: 8px 20px;
    top: 0;
    right: 0;
}

.container-opts {
    background-color:#f1f2f4;
    position: fixed;
    top: 100vh;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;

    transition: .2s all;

    display: none;

}

.container-opts > .container-opts-top {
    position: relative;
    cursor: pointer;
}

.container-opts .close-symbol  {
    position: absolute;
    top: 0;
    right: 0;
    padding: 4px 20px;
    font-size: x-large;
    font-weight: bold;
    color: gray; 
    
}


.container-opts .selected {
    background-color: white;
    padding: 10px 20px;
    font-weight: bold;
    border-bottom: 1px solid #d1d1d1;
    
}

.container-opts > .saved-searches-title {
    padding: 10px 20px;
    font-weight: bold;
    font-size: large;
}

.container-opts > .container-saved-searches {
    background-color: white;
    height: 100%;
    font-size: large;
}

.container-opts > .container-saved-searches * {
    /* background-color: green; */
    padding: 10px 20px;
    font-size: normal;
}

.container-opts > .container-saved-searches *:hover {
    background-color: #f1f2f4;
    cursor: pointer;
}


#searches-recommended-resp {
    display: none;
}

.separator {
    width: 25%;
}

.Universities-container {
    width: 50%;
}

.side-bar {
    width: 25%;
    /* background-color: orange; */
}

.side-bar > * {
    /* background-color: orangered; */
    padding: 10px 20px;
    font-weight: 500;
    margin-left: 20px;
    cursor: pointer;

}

.side-bar > *:hover {
    background-color: white;
}

.saved-search-item-selected {
    border-left: 4px solid #37a000;
    padding-left: 16px;
    font-weight: bold;
}


.Universities-container {
    /* background-color: green; */
    width: 50%;
    background-color: white;
    border: 1px solid #d1d1d1;
    border-radius: 4px;
}

.Universities-container > .title {
    /* background-color: orange; */
    padding: 15px 30px;
    border-bottom: 1px solid #d1d1d1;


}

.search-link:hover {
    cursor: pointer;
    color:  #48a000;
    text-decoration: underline;
    -webkit-line-clamp: 1;
}

.Universities-container > .university-container {
    /* background-color: orange; */
    padding: 0 30px;
    border-bottom: 1px solid #d1d1d1;
}

.Universities-container > .university-container h5:hover {
    cursor: pointer;
    color:  #48a000;
    text-decoration: underline;
    -webkit-line-clamp: 1;
}

.Universities-container > .university-container > * {
    /* background-color: orangered; */
    padding-top: 15px;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    line-height: 20px;
    /* word-break: break-all; */
}


.container-busy > * {
    background-color: lightgray;
    /* margin-bottom: 20px; */
    margin: 20px 30px;
    padding-bottom: 20px;
    width: 0%;
}

.container-busy > :nth-child(1) {
    /* width: 100%; */
    width: 0%;
    animation: busy_motion_1;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.container-busy > :nth-child(2) {
    /* width: 70%; */
    width: 0%;
    animation: busy_motion_2;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: 0.2s;
}

.container-busy > :nth-child(3) {
    /* width: 40%; */
    width: 0%;
    animation: busy_motion_3;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: 0.4s;
}


@keyframes busy_motion_1 {
    0%   {width: 0%;}
    50%   {width: 90%;}
    100% {width: 0%;}
}

@keyframes busy_motion_2 {
    0%   {width: 0%;}
    50%   {width: 70%;}
    100% {width: 0%;}
}

@keyframes busy_motion_3 {
    0%   {width: 0%;}
    50%   {width: 40%;}
    100% {width: 0%;}
}


.busy-bundle > *:not(:last-child) {
    border-bottom: 1px solid #d1d1d1;
    margin: 15px 0px;
}


/*----------------university details container------------*/
.container-uni-details {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 100%;
    z-index: 2000;
    background-color: orange;
    transition: .6s all;
}
/*--------------------------------------------------------*/


@media only screen and (max-width: 1100px) {

    .app-body {
        margin-top: 0px;
    }

    .side-bar {
        display: none;
    }

    #advanced-search {
        display: none;
    }

    .find-uni-title {
        display: none;
    }

    .search-bar {
        display: none;
    }

    .view {
        display: block;
        width: 100%;
        text-align: left;
        padding: 0px 10px;
        font-size: large;
        font-weight: bold;
    }

    #searches-recommended-resp {
        display: block;
    }

    .Universities-container {
        width: 100%;
        border: none;
        border-radius: 0;
        border-top: 1px solid #d1d1d1;
        border-bottom: 1px solid #d1d1d1;
    }

    .container-opts {
        display: block;
    }

}

/*---------------------------------------------------------------*/
