@import "../header/header.css";
@import "../footer/footer.css";


:root {
    --gray-1: #d1d1d1;
    --gray-2: #f1f2f4;
    --font-weight-black: bolder;
    --color-purpule: #5f0f4e;
    --color-white: white;
    --color-black: black;

    --font-family-base: "Gotham SSm", "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-size-base: 14px;
    --font-size-1: 22px;
    --font-size-2: 28px;
    --font-weight-1: 700;
    --font-weight-2: 900;
}

* {
    font-family: var(--font-family-base);
}

body {
    background-color: var(--gray-2);
}

.app-body {
    /* background-color: gray; */
    position: absolute;
    margin-top: 100px;
    width: 100%;


    display: flex;
    align-items: center;
    justify-content: center;
}




/* .login-contianer {
    background-color: purple;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
} */

.auth-card {
    width: 99%;
    background-color: rgb(236, 236, 236);

    display: flex;
    align-items: center;
    justify-content: center;
}

.auth-cart-title {
    /* background-color: var(--color-purpule); */
    color: var(--color-black);
    padding: 10px;
    border-radius: 2px;
    text-align: center;
    
    font-size: var(--font-size-2);
    font-weight: var(--font-weight-2);
}

form {
    background-color: white;
    border: 1px solid var(--gray-1);

    width: calc(var(--app-maximum-width) / 2);

    border-radius: 4px;

}


.form-content {
    background-color: white;
}

form input {
    display: block;
    padding: 10px;
    width: 80%;

    

    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 10px;


    border: 1px solid var(--gray-1);
    border-radius: 2px;

}

form input[type="submit"] {
    background-color: orange;
    cursor: pointer;
}

form input[type="submit"]:hover {
   
}

form input:focus {
    outline-width: 0;
}

.auth-error {
    color: red;
    text-align: center;
}


@media only screen and (max-width: 500px) {
    form {
        width: inherit;
    }
}