:root {
    --app-body-margin-top: 50px;
    --header-z-index: 100;
    --app-maximum-width: 990px;

    --color-purpule: #5f0f4e;
    --color-white: white;

}


body {
    margin: 0;
    padding: 0;

    position: relative;
    min-height: 100vh;

}

.header {
    top: 0;
    z-index: var(--header-z-index);
    position: relative;
    width: 100%;
    background-color:green;

    display: flex;
    align-items: center;
    justify-content: center;


        /* font-style: normal;
    font-weight: bold;
    font-family:'Courier New', Courier, monospace; */
}

.header-body {
    background-color: var(--color-purpule);
    color: var(--color-white);
    width: 100%;
    position: relative;
}


/*--------------------Header css---------------------------------*/

.header-container {
    background-color: #1d4354;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 0;
}

.header-container > div {
    position: relative;
    /* background-color: orange; */
    color: white;
    margin: 0 10px;
}

.header-container > :first-child, .header-container > :last-child {
    display: none;
}

::placeholder {

}

.search-bar-nav > input {
    background-color: #2b5468;
    width: 300px;
    border-radius: 50px;
    padding: 8px;
    text-decoration: none;
    border: none;
    text-indent: 25px;
}

.search-bar-nav > input::placeholder {
    color: white;
}

.search-bar-nav > i {
    position: absolute;
    left: 4px;
    top: 6px;
    /* background-color: orange; */
    padding: 1px 4px;
}

.person {
    /* background-color: orange; */
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #6fda44;
    position: relative;

}

.person > i {
    position: absolute;
    font-size: xx-large;
    top: -13px;
    left: 2px;
}



/*-----------------------------Header Sidebar--------------------------------*/
.header-sidebar {
    background-color: var(--color-purpule);
    position: fixed;
    top: 0;
    right: 99%;
    width: 100%;
    height: 100%;
    z-index: 1000;
}



/*----------------------------------------------------------------*/

@media only screen and (max-width: 1100px) {

    .header-container {
        /* background-color: orange; */
    }


    .header-container > * {
        display: none;
    }

    .header-container > :first-child,
    .header-container > :nth-child(2),
    .header-container > :last-child {
        display: block;
        width: 100%;
        /* background-color: green; */
        padding: none;
        margin: none;
    }

    .header-container > :first-child >i:hover,
    .header-container > :nth-child(2),
    .header-container > :last-child >i:hover {
        cursor: pointer;
    }

    .header-container > :nth-child(2)
    {
        text-align: center;
    }

    .header-container > :last-child
    {
        text-align: right;
    }

}




/* 


.header-body a {
    float: left;
    display: none;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.header-body a:first-child {
    display: block;
}

.header-body i {
    position: absolute;
    top: 0;
    right: 0;
    padding: 14px 16px;
    font-size: 17px;
    text-align: center;
}

.header-body i:hover {
    cursor: pointer;
}


.header-body a:hover {
    background-color: #ddd;
    color: black;
}

.responsive a {
    float: none;
    display: block;
    text-align: left;
}

@media only screen and (min-width: 990px) {
    .header-body {
        width: var(--app-maximum-width);
    }

    .header-body a {
        float: none;
        display: block;
        text-align: left;
    }
} */