:root {
    --app-body-margin-top: 50px;
    --header-z-index: 100;
}


body {
    margin: 0;
    padding: 0;
}

.header {
    top: 0;
    z-index: var(--header-z-index);
    position: fixed;
    width: 100%;
    background-color:green;
    padding: 10px;
    font-style: normal;
    font-weight: bold;
    font-family:'Courier New', Courier, monospace;
}